<%include _header%>
<h1>Alumnos</h1>
<div class="alert alert-danger" <%=estado%>></div>

<table class= "table table-strip">
  <tr>
    <th>nombre</th>
    <th>Grado</th>
    <th>Grupo</th>
    <th>Prioridad</th>
    <th>Acciones</th>
  </tr>
  <%
if(viewAlumno){
  viewAlumno.forEach(function(alumno){
    %>
    <tr>
    <td><%= alumno.nombre %></td>
    <td><%= alumno.grado %></td>
    <td><%= alumno.grupo %></td>
    <td><%= alumno.prioridad %></td>
    </tr>
    <%
  });
}
%>
</table>
<%include _footer%>